
.vs/Cheap.Awesome.API/config/applicationhost.config
.vs/Cheap.Awesome.API/v16/.suo
.vs/Cheap.Awesome.API/v16/Server/sqlite3/storage.ide-wal
.vs/Cheap.Awesome.API/v16/Server/sqlite3/storage.ide-shm
.vs/Cheap.Awesome.API/v16/Server/sqlite3/storage.ide
.vs/Cheap.Awesome.API/v16/Server/sqlite3/db.lock
Cheap.Awesome.WebDriver.Test/obj/project.assets.json
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.csprojAssemblyReference.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.assets.cache
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.assets.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.csproj.FileListAbsolute.txt
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.csprojAssemblyReference.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.csprojAssemblyReference.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.assets.cache
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.dgspec.json
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.cache
Cheap.Awesome.WebDriver.Test/bin/Debug/netcoreapp2.1/chromedriver.exe
