
.vs/Cheap.Awesome.API/config/applicationhost.config
.vs/Cheap.Awesome.API/v16/.suo
.vs/Cheap.Awesome.API/v16/Server/sqlite3/storage.ide-wal
.vs/Cheap.Awesome.API/v16/Server/sqlite3/storage.ide-shm
.vs/Cheap.Awesome.API/v16/Server/sqlite3/storage.ide
.vs/Cheap.Awesome.API/v16/Server/sqlite3/db.lock
Cheap.Awesome.WebDriver.Test/obj/project.assets.json
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.csprojAssemblyReference.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.assets.cache
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.assets.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.csproj.FileListAbsolute.txt
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.csprojAssemblyReference.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.csprojAssemblyReference.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.assets.cache
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.dgspec.json
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.cache
Cheap.Awesome.WebDriver.Test/bin/Debug/netcoreapp2.1/chromedriver.exe
*.dll
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.pdb
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.dll
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.exe
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.assets.cache
Cheap.Awesome.API/obj/project.assets.json
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.exe
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.assets.cache
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.targets
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.props
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.dgspec.json
Cheap.Awesome.API/obj/project.assets.json
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.exe
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.assets.cache
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.targets
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.props
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.dgspec.json
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.dgspec.json
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.props
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.targets
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.assets.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.exe
Cheap.Awesome.API/obj/project.assets.json
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.dgspec.json
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.g.props
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.g.targets
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.assets.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.csproj.FileListAbsolute.txt
Cheap.Awesome.WebDriver.Test/obj/project.assets.json
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.dgspec.json
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.props
Cheap.Awesome.API/obj/Cheap.Awesome.API.csproj.nuget.g.targets
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.assets.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.exe
Cheap.Awesome.API/obj/project.assets.json
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.dgspec.json
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.g.props
Cheap.Awesome.WebDriver.Test/obj/Cheap.Awesome.WebDriver.Test.csproj.nuget.g.targets
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.assets.cache
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.csproj.FileListAbsolute.txt
Cheap.Awesome.WebDriver.Test/obj/project.assets.json
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/appsettings.json
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Cheap.Awesome.API.deps.json
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Cheap.Awesome.API.exe
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Cheap.Awesome.API.pdb
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Cheap.Awesome.API.runtimeconfig.dev.json
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Cheap.Awesome.API.runtimeconfig.json
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.AssemblyInfo.cs
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.AssemblyInfoInputs.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.csproj.CopyComplete
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/staticwebassets/Cheap.Awesome.API.StaticWebAssets.xml
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/staticwebassets/Cheap.Awesome.API.StaticWebAssets.Manifest.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.RazorTargetAssemblyInfo.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.pdb
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.MvcApplicationPartsAssemblyInfo.cache
Cheap.Awesome.API/obj/Debug/netcoreapp3.1/Cheap.Awesome.API.MvcApplicationPartsAssemblyInfo.cs
Cheap.Awesome.WebDriver.Test/bin/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.deps.json
Cheap.Awesome.WebDriver.Test/bin/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.pdb
Cheap.Awesome.WebDriver.Test/bin/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.runtimeconfig.dev.json
Cheap.Awesome.WebDriver.Test/bin/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.runtimeconfig.json
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.AssemblyInfo.cs
Cheap.Awesome.WebDriver.Test/obj/Debug/netcoreapp2.1/Cheap.Awesome.WebDriver.Test.AssemblyInfoInputs.cache
Cheap.Awesome.NUnit.Test/bin/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.deps.json
Cheap.Awesome.NUnit.Test/bin/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.pdb
Cheap.Awesome.NUnit.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
Cheap.Awesome.NUnit.Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
Cheap.Awesome.NUnit.Test/bin/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.runtimeconfig.json
Cheap.Awesome.NUnit.Test/obj/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.AssemblyInfo.cs
Cheap.Awesome.NUnit.Test/obj/Cheap.Awesome.NUnit.Test.csproj.nuget.g.targets
Cheap.Awesome.NUnit.Test/obj/Cheap.Awesome.NUnit.Test.csproj.nuget.g.props
Cheap.Awesome.NUnit.Test/obj/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.assets.cache
Cheap.Awesome.NUnit.Test/obj/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.pdb
Cheap.Awesome.NUnit.Test/obj/project.assets.json
Cheap.Awesome.NUnit.Test/obj/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.csprojAssemblyReference.cache
Cheap.Awesome.NUnit.Test/obj/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.AssemblyInfoInputs.cache
Cheap.Awesome.NUnit.Test/obj/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.csproj.CopyComplete
Cheap.Awesome.NUnit.Test/obj/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.csproj.FileListAbsolute.txt
Cheap.Awesome.NUnit.Test/obj/Cheap.Awesome.NUnit.Test.csproj.nuget.cache
Cheap.Awesome.NUnit.Test/obj/Cheap.Awesome.NUnit.Test.csproj.nuget.dgspec.json
Cheap.Awesome.NUnit.Test/bin/Debug/netcoreapp3.1/Cheap.Awesome.NUnit.Test.runtimeconfig.dev.json
Cheap.Awesome.Infrastructure/obj/project.assets.json
Cheap.Awesome.Infrastructure/obj/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.pdb
Cheap.Awesome.Infrastructure/bin/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.pdb
Cheap.Awesome.Infrastructure/bin/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.deps.json
Cheap.Awesome.Infrastructure/bin/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.pdb
Cheap.Awesome.BusinessLayer/obj/project.assets.json
Cheap.Awesome.BusinessLayer/obj/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.pdb
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.pdb
Cheap.Awesome.API/bin/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.pdb
Cheap.Awesome.BusinessLayer/bin/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.deps.json
Cheap.Awesome.BusinessLayer/bin/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.pdb
Cheap.Awesome.BusinessLayer/obj/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.AssemblyInfo.cs
Cheap.Awesome.BusinessLayer/obj/Cheap.Awesome.BusinessLayer.csproj.nuget.g.targets
Cheap.Awesome.BusinessLayer/obj/Cheap.Awesome.BusinessLayer.csproj.nuget.cache
Cheap.Awesome.BusinessLayer/obj/Cheap.Awesome.BusinessLayer.csproj.nuget.dgspec.json
Cheap.Awesome.BusinessLayer/obj/Cheap.Awesome.BusinessLayer.csproj.nuget.g.props
Cheap.Awesome.BusinessLayer/obj/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.csprojAssemblyReference.cache
Cheap.Awesome.BusinessLayer/obj/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.csproj.FileListAbsolute.txt
Cheap.Awesome.BusinessLayer/obj/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.assets.cache
Cheap.Awesome.BusinessLayer/obj/Debug/netcoreapp3.1/Cheap.Awesome.BusinessLayer.AssemblyInfoInputs.cache
Cheap.Awesome.Infrastructure/obj/Cheap.Awesome.Infrastructure.csproj.nuget.dgspec.json
Cheap.Awesome.Infrastructure/obj/Cheap.Awesome.Infrastructure.csproj.nuget.g.props
Cheap.Awesome.Infrastructure/obj/Cheap.Awesome.Infrastructure.csproj.nuget.g.targets
Cheap.Awesome.Infrastructure/obj/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.AssemblyInfo.cs
Cheap.Awesome.Infrastructure/obj/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.AssemblyInfoInputs.cache
Cheap.Awesome.Infrastructure/obj/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.assets.cache
Cheap.Awesome.Infrastructure/obj/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.csproj.CopyComplete
Cheap.Awesome.Infrastructure/obj/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.csproj.FileListAbsolute.txt
Cheap.Awesome.Infrastructure/obj/Debug/netcoreapp3.1/Cheap.Awesome.Infrastructure.csprojAssemblyReference.cache
Cheap.Awesome.Infrastructure/obj/Cheap.Awesome.Infrastructure.csproj.nuget.cache
